body{ 
    background-image: image();}

.row nav{
display:flex;
flex-direction:row;
}
    .topnav {
        letter-spacing:4px;
        Padding:10px;
        
    }
    .topnav a.active {
        float:right;
        padding:19px 25px;
    
    }
    .topnav a {
        float:right;
        color:black;
        text-align: center;
        padding: 40px;
        text-decoration:none;
         font-size: 17px; 
    padding-top: 80px;  }
    


         .logo{
             width: 250px;
         }
    
     .background1{
       width: 100%;
       height: 100%;
     }
    
.sec1 {
 text-align:center;
 text-decoration: underline #a5aad3 15px;
}


.sec2{
    background: white;
    padding-left:80px;
    display: flex;
    flex-direction: row;
 
}
  
.text1{
    align-items: center;
    padding-top:150px;
font-size: 65px;
color: #8aa5cf;

}
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 25px;
    font-size: 1rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #8aa5cf;
    margin-left: 80px;
    
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: #8aa5cf(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}


.text2{
    width:300px;
    padding-right:70px; }
.pictures{
  display:flex;
  flex-direction: row;
  padding-left: 500px;
 
  width:400px;
  height: 450px;
}
.blog{
    text-align: center;
    padding-top:50px;
    background-color:white;

}


